/* css/style.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body.dark-theme {
    @apply bg-gray-800 text-gray-100 !important;
}

body.violet-theme {
    @apply bg-violet-900 text-white !important;
}

body.light-theme,
div.light-theme,
header.light-theme,
nav.light-theme,
button.light-theme,
select.light-theme{
    background-color: white !important;
    color: black !important;
}

nav.light-theme {
    background-color: #fff !important;
}

button.light-theme {
    background-color: #e2e6ea !important;
    border-color: #ced4da !important;
    color: #495057 !important;
}

a.light-theme:hover {
    background-color: #dee2e6 !important;
}
p.light-theme {
    color: black !important;
}